
body,div,p,ul,li,input,table,img,ol,a,h2,h3{padding: 0;margin: 0}
body{
    font-size: 12px;
    font-style: normal;
    color: #000;
    font-family: 'Microsoft Yahei','微软雅黑','宋体','Simsun','Arial',sans-serif;
    background: #f6f6f6;
}
em,b,i{
    font-style: normal;
}
li{list-style: none}
a{text-decoration: none;color: #777}
a:hover{color: #188eee;}
.input_search{ border:none; border-bottom: 1px solid #999;margin-top: 15px}


.flt{float: left}
.frt{float: right}
.container{width: 100%}
.hide{
    display: none;
}
.show{
    display: block;
}

.module_header{height: 70px;background-color: #fff;}
.module_content{width: 1200px;margin: 0 auto}
.header_logo{margin-top: 15px; height: 55px}
.header_nav{width: 700px;margin-left: 35px;}
.header_nav li{float: left}
.header_nav li a{line-height: 70px; display: block;font-size: 16px;padding:0 15px;}
.header_nav2{width:400px;height: 70px;float: right}
.input_search{
    padding: 20px;
    font-size: 14px;
    outline: none;
    padding: 2px 5px;
}
.input_search:focus{
    border-bottom: 1px solid #188eee;
}
.nav_search{padding: 10px 0; float: left;position: relative}
.nav_search i{width: 16px;text-align: center;vertical-align: middle;position: absolute;right: 0;bottom: 16px;}
.icon-search:hover{
    color:#188eee
}
.header_nav2 li{float:left;}
.header_nav2 li div{line-height: 70px;display: block;font-size: 16px;padding: 0 15px;}
.header_nav2 li div:hover{color: #fff;background-color: #188eee}


.module_body{min-height: 900px;background-color: #eee;}
.module_banner_bg{height:1080px; background: url("../images/O1CN011POdeq6t0Oi59IY_!!2228361831.jpg");}

.module_banner{height: 590px;}
.module_banner_wrap{
    position: relative;
    height: 715px;
}

.top {
				padding-bottom: 0;
			}

#slider1 {
				width: 100%;
				height: 430px;
				margin: 0 auto 20px auto;
				border: 7px solid rgba(0, 0, 0, .35);
				box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .1);
				border-radius: 5px;
			}
			
			#slider2 {
				width: 600px;
				height: 113px;
				margin: auto;
				margin-bottom: 20px;
			}
			#slider2 .slider-slides img {
				width: 100%;
				height: auto;
			}
			#slider2 .navigator span {
				background: none;
			}
			#slider2 .navigator .prev {
				left: -5px;
			}
			#slider2 .navigator .next {
				right: -5px;
			}
			
			/* responsive rules */
			@media (max-width: 713px) {
				#slider1 {
					width: 100%;
					height: auto; /* reset slider height to automatically fix with the first image height. */
					border: none;
					margin-top: 0;
					border-radius: 0;
				}
				#slider2 {
					width: 100%;
					height: 60px;
					margin: 0;
					overflow: hidden;
				}
			}
			





.module_hot_course{
    position: absolute;
/*    bottom: -10px;*/
    left: 0;
    right: 0;
    height: 125px;
    
    margin-top: 10px;
    background: url('../images/aerbeisi.jpg')repeat;
   position: relative;
}
.md_hot_title{
     line-height: 2;
    color: #fff;
    padding-left: 30px
    
}
.md_hot_title h2{
    font-size: 30px;
    color: #fff;
   
}
.md_hot_title a{
    font-size: 16px;
    color: #fff;
    
}

.module_footer{height: 150px;background-color: aquamarine}
.md_hot_card{width: 946px;height: 118px;position: absolute;right: 20px;bottom: -20px;box-shadow: 2px 2px 5px rgba(0,0,0,.2);background-color: #eee;}
.md_hot_card ul li{float: left;position: relative}
.md_hot_card ul li a{display: block;width: 176px;height: 48px;padding:35px 30px}
.md_hot_card ul li a:hover{box-shadow: 5px 5px 10px rgba(0,0,0,.3);background-color: #fff;position: relative}
.link_line{width: 1px;height: 70px;background-color: #999;position: absolute;right: 0;top:25px}

.icon_course{display: inline-block;
    background: url(../images/iconfont.png) no-repeat;
    width: 51px;
    height: 51px;
    float: left
}
.course_u1{background-position: 0 0}
.course_u2{background-position: -51px 0}
.course_u3{background-position: -102px 0}
.course_u4{background-position: -153px 0}
.md_link_title{margin-left: 20px;float: left}
.md_link_title h2{line-height: 35px;}
.md_link_title p{text-align: center;line-height: 20px}


.loginlink{
    
}
.reigsterlink{
    
}
.module_shade{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.35)
}
.moudule_login_modal{
    width: 500px;
    min-height: 300px;
    background-color: #fff;
    margin: 250px auto 0;
    border-radius: 5px;

    
}
.modal_title{
   font-weight: bolder;
    font-size: 18px;
    line-height: 50px;
    color: #333;
    float: left;
}
.module_header{
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}
.modal_close{
    cursor: pointer;
    font-size: 30px;
    text-align: center
}
.module_modal_body{
    padding: 20px;
}
.input_field_bg{
    width: 270px;
    margin: 0 auto;
}
.input_label{
    width: 80px;
    font-weight: bold;
    color: #474747;
    letter-spacing: 1px;
    
}
.input_field{
   font-size: 16px;
    line-height: 40px;
    text-align: right;
    margin-bottom: 30px;
    
    
}
.input_case{
    height: 32px;
    padding: 3px 5px;
    border:1px solid #ddd;
    border-radius: 4px;
    outline: none;
}
.large{
    
}
.middle{
    width: 200px;
}
.btn{
    display: inline-block;
    height: 36px;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    letter-spacing:4px;
    text-align: center;
    transition:  all ease .3s;
    font-size: 14px;
}
.btn:hover{
    background:#40a9ff
}
.btn_primary{
    color: #fff;
    background-color: #1890ff;
}
.btn_primary:hover{
    background-color: #48a9ff;
    
}
.bt_box_login{
    width: 270px;
    margin: 0 auto;
}
.ghost{
    background-color: #fff;
    border:1px solid  #1890ff;
    color: #1890ff;
}
.ghost:hover{
    color:  #fff;
    background-color: #1890ff;
}